.container.main-menu
    .row.text-center.p-4
        .col
            a(href='/')
                img(src='images/s_head_black.png' width='200px')
    .row.text-center
        .col
            a.btn-section.d-block.m-4(href='/cv') CV
        .col
            a.btn-section.d-block.m-4(href='/photo') Fotografía
        .col
            a.btn-section.d-block.m-4(href='/contact') Contacto
