doctype html
html
	head
		include ../includes/head.pug
	header
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			.container
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				include ../includes/header-no-menu.pug
	body.p-0
		.container
			block content
	footer
		include ../includes/footer.pug
