<nav class="navbar navbar-expand-lg navbar-light nav-justified mt-4">
        <!-- <a href="#" class="navbar-brand">Brand</a> -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <div class="navbar-nav">
                {{ $currentPage := .  }}
                {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}" class="nav-item bg-light mx-2 border-bottom">
                        <span>{{ .Name }}</span>
                    </a>
                {{ end }}
            </div>
        </div>
</nav>
