extends layouts/layout

block content
	p.text-center.p-5 Accede desde aquí a mi CV resumido, a descripciones y demos de mis proyectos y a información sobre mis hobbies.
		br
		| Por el momento es una web muy básica pero pronto dispondrá de nuevo contenido más dinámico.
	p.text-center.p-5 Consulta las redes en las que me puedes encontrar:
