{{ define "main" }}
<div class="container">
  <div class="row">
    {{ $counter := 0 }}
    {{ $images := resources.Match "images/photo/*" }}
    {{ range $images }}
      <div class="col-4">
        <img src="{{ .RelPermalink }}" class="img-thumbnail mb-4"/>
      </div>
    {{ end }}
    </div>
    <div class="row justify-content-center mb-5">
      <a href="https://www.instagram.com/salva_sm/" target="_blank" type="button" class="btn btn-secondary btn-lg w-25 m-3">+ Instagram</a>
      <a href="https://500px.com/p/salva_sm" target="_blank" type="button" class="btn btn-secondary btn-lg w-25 m-3">+ 500px</a>
    </div>
  </div>
</div>
{{ end }}
