{{ define "main" }}
<div class="container">
  <div class="row mb-5">
    {{ range $projects := $.Site.Data.projects }}
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        {{ $smallImage := resources.Get (printf "images/projects/%s" .image) }}
        <img src="{{ $smallImage.RelPermalink }}" class="img-fluid">
            <div class="card-body">
                <h5>{{ .title }}</h5>
                <p class="card-text mb-5">{{ .description }}</p>
                <div class="mb-2">Progreso:</div>
                <div class="progress mb-4">
                    <div class="progress-bar w-{{ .progress }} bg-success" role="progressbar"></div>
                </div>
                <div class="row">
                    <div class="col align-self-start">
                        {{ range .tools }}
                            <small class="label text-muted">
                                {{ . }}
                            </small>
                        {{ end }}
                    </div>
                    <div class="col align-self-end btn-group">
                        <!-- Github link -->
                        {{ if .repository }}
                            <a href="{{ .repository }}" target="_blank" type="button" class="btn btn-sm btn-outline-secondary ">Código</a>
                        {{ else }}
                            <a href="" type="button" class="btn btn-sm btn-outline-secondary disabled">Código</a>
                        {{end}}
                        {{ if .demo }}
                            {{ $demoImage := resources.Get (printf "images/projects/%s" .demo) }}
                            <a href="{{ $demoImage.RelPermalink }}" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Demo</a>
                        {{ else }}
                            <a href="" type="button" class="btn btn-sm btn-outline-secondary disabled">Demo</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
  </div>
{{ end }}