html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
a,
p,
small,
li,
h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

ul {
    list-style-type: circle;
}

#header img {
    max-width: 400px;
    min-width: 350px;
}

/* Navitagion */
@media (min-width: 992px) {
    #nav {
        top: 90px;
    }
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    min-width: 150px;
    text-align: center;
}

.navbar .nav-item:hover,
.navbar .nav-item:active {
    background: #ccc !important;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 5%;
}

/* Social */
.ssm-social-button {
    cursor: pointer;
    margin: 0 auto;
}

/* Photo */

.ssm-photo-container {
    position: relative;
}

.ssm-photo-container:hover .ssm-photo-info {
    display: block;
}

.ssm-photo-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    background: #cccb;
    width: 100%;
    height: 100%;
}

/* Badges */

.ssm-badges {
    position: absolute;
    bottom: 10px;
}

.ssm-badge {
    background-color: gainsboro;
    font-size: 0.8em;
    padding: 2px 8px;
    border-radius: 3px;
    color: dimgray;
}

.ssm-badge:not(:last-child) {
    margin-right: 10px;
}

.ui-dialog {
    background-color: white;
    border: 1px solid dimgrey;
    padding: 10px 10px;
}

.ui-dialog-titlebar-close {
    border: 0;
    height: 16px;
    width: 16px;
    background: url("/images/icons/close.png") 0 0 no-repeat !important;
    background-repeat: no-repeat;
    background-size: 16px !important;
    float: right;
}

.ui-dialog-title {
    display: none;
}
