// Variables
$font-family-montserrat: 'Montserrat', Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-montserrat !default;

$link-color-hover: white;
$background-color-hover: black;

$link-color: #000;
$link-hover-decoration: none !default;